[Desktop Entry]
Encoding=UTF-8
Name=Link to point_of_sale
Type=Link
URL=https://github.com/HashMicro/maharupa_new/tree/main/basic/point_of_sale
Icon=text-html
